body {
  background: linear-gradient(to top, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.6)),
    url(../Imgs/23.jpg) no-repeat;
  background-size: cover;
  /* min-height: 100vh !important; */
  max-width: 100%;
  min-height: 100vh;
  width: auto\9;

  padding: 1rem 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}

.main-page-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  color: rgba(255, 255, 255, 0.95);
  font-size: 2.5rem;
}

.main-page-container .arabic h1 {
  font-family: 'Almarai', sans-serif;
  font-weight: 700;
}

.languages a img {
  width: 250px;
}

@media screen and (max-width: 1680px) {
  body {
    /* background: linear-gradient(to top, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.6)),
      url(../Imgs/17inch.jpg) center no-repeat;
    background-size: cover; */
  }
}

@media screen and (max-width: 1400px) {
  body {
    /* background-position: 20%; */
  }
}
/* @media screen and (max-width: 1280px) {
  body {
    background: linear-gradient(to top, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.6)),
      url(../Imgs/11inch.jpg) center no-repeat;
    background-size: cover;
  }
} */

@media screen and (max-width: 768px) {
  body {
    /* background: linear-gradient(to top, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.6)),
      url(../Imgs/ipad.jpg) center no-repeat;
    background-size: cover; */
    background-position: 9%;
  }
}

@media screen and (max-width: 670px) {
  body {
    /* background: linear-gradient(to top, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.6)),
      url(../Imgs/herophone6.jpg) center no-repeat; */
    /* background-position: 50%; */
  }
}
